$primary: rgb(255, 102, 0);
$white: #fff;
$gray: #ccc;
$post_title: #333;
$post_author: #999;
$post_bg_hover: #fafafa;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}

#banner {
    height: auto;
    padding: 60px 20px 60px 20px;
    text-align: left;
    background-color: $primary;
    color: $white;

    h1.title {
        font-size: 4rem;
        margin-bottom: 15px;
        font-weight: 700;
    }
    p.subtitle {
        font-size: 1.5rem;
    }
}

#body {
    height: auto;
    padding: 20px 20px 60px 20px;

    .post {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        padding: 15px 0 15px 0;
        border-bottom: 1px solid $gray;

        background-color: $white;
        font-size: 13px;

        .link {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-decoration: none;
            width: 100%;

            .info {
                h3.title {
                    display: inline;
                    font-weight: 400;
                    color: $post_title;
                    padding: 0 5px 0 20px;
                }
                span.author {
                    color: $post_author;
                }
            }

            .extras {
                padding-right: 10px;
                .time {
                    display: inline;
                    color: $post_title;
                    margin-right: 100px;
                }
            }
        }

        .actions {
            position: relative;
            margin-top: -7px;

            .btn-delete {
                margin-left: -55px;
                display: none;
                position: absolute;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;

                .icon {
                    color: $primary;
                    font-size: 1rem;
                    height: 22px;
                    width: 22px;
                }
            }
        }


        &:hover {
            background-color: $post_bg_hover;
            .btn-delete {
                display: inline;
            }
        }
    }
}

.btn-delete {
    display: none;
}